doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title GAMERVERSE
  // Favicon
  link(rel='icon' type='image/x-icon' href='./images/header-icon.png')
  // Font Awesome icons (free version)
  script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js')
  // Google fonts
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css')
  
  // CSS BOOTSTRAP
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css')
  link(href='./stylesheets/style.css' rel='stylesheet' type='text/css')
  // Custom CSS
  link(href='./stylesheets/index.css' rel='stylesheet' type='text/css')

  // JavaScript Bundle with Popper BOOTSTRAP
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js')
  // Custom JS
  script(type='text/javascript' src='./javascripts/scripts.js')
  script(type='text/javascript' src='./javascripts/index.js')
  // Load the JS SDK asynchronously
  script(async='' defer='' crossorigin='anonymous' src='https://connect.facebook.net/en_US/sdk.js')
  // Load the Google Platform Library
  script(src='https://apis.google.com/js/platform.js' async='' defer='')
  // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')
  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  // Youtube JS
  
  script.
    function youtubetrigger(num){
      var tube = document.getElementById("youtube"+num);
      if(tube.style.display == "none" || tube.style.display == "null")
        tube.style.display = "block" ;
      else
        tube.style.display = "none" ;
        //var video = document.getElementsByClassName("html5-video-player");
        //video.pauseVideo(true);
    }
  
// Navigation
nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
  .container
    img.img-head(src='./images/header-icon.png' alt='')
    a.navbar-brand.js-scroll-trigger(href='/') GAMERVERSE
    button.navbar-toggler.navbar-toggler-right.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      | Menu
      i.fas.fa-bars
    - if(user)
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | #{user.name}
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='/auth/logout') Logout 
          .dropdown-divider
          a.dropdown-item(href='/chat') Chat 

    - else 
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Accedi
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='/auth/google')  Google 
          a.dropdown-item(href='/auth/twitter')  Twitter 
          .dropdown-divider
          a.dropdown-item(href='/chat') Chat 

  

// Portfolio Section
section#portfolio.page-section.portfolio
  
  .container
    // Scritta in movimento
    .row.justify-content-center
      .box
        | Gamerverse ti mostra 
        .word
          span  giochi
          span  espansioni
          span  piattaforme
          span  informazioni
    .search-custom-bar
      form.p-2.rounded.shadow-sm.bg-white(action='/results' method='get')
        .input-group.cc_cursor
          input#games.form-control.border-0.mr-2(type='search' name='games' placeholder='Cerca un gioco: ')
          .input-group-append.rounded
            button.btn.btn-primary.rounded.cc_pointer(type='submit')
              i.fas.fa-search.cc_pointer
    // Portfolio Grid Items
    .row.justify-content-center
      // Portfolio Item 1
      .col-md-6.col-lg-4.mb-5
        .portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal1')
          .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
            .portfolio-item-caption-content.text-center.text-white
              i.fas.fa-plus.fa-3x
          img.img-fluid(src='//images.igdb.com/igdb/image/upload/t_1080p/co1q1f.jpg' alt='')

        .twitter-butt
          p Condividi la tua esperienza con un 
            a.twitter-share-button(href='https://twitter.com/intent/tweet' data-text="Cosa ne pensi di Red Dead Redemption 2 ? #gamerverse" data-url='https://tinyurl.com/gamerverse' data-size='large' data-show-count='false') Tweet #button
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      // Portfolio Item 2
      .col-md-6.col-lg-4.mb-5
        .portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal2')
          .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
            .portfolio-item-caption-content.text-center.text-white
              i.fas.fa-plus.fa-3x
          img.img-fluid(src='//images.igdb.com/igdb/image/upload/t_1080p/co2ed3.jpg' alt='')

        .twitter-butt
          p Condividi la tua esperienza con un 
            a.twitter-share-button(href='https://twitter.com/intent/tweet'  data-text="Cosa ne pensi di Assassin's Creed Valhalla ? #gamerverse" data-url='https://tinyurl.com/gamerverse' data-size='large' data-show-count='false') Tweet #button
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      // Portfolio Item 3
      .col-md-6.col-lg-4.mb-5
        .portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal3')
          .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
            .portfolio-item-caption-content.text-center.text-white
              i.fas.fa-plus.fa-3x
          img.img-fluid(src='//images.igdb.com/igdb/image/upload/t_1080p/co2oyq.jpg' alt='')
        .twitter-butt
          p Condividi la tua esperienza con un 
            a.twitter-share-button(href='https://twitter.com/intent/tweet'  data-text="Cosa ne pensi di Watch Dogs Legion ? #gamerverse" data-url='https://tinyurl.com/gamerverse' data-size='large' data-show-count='false') Tweet #button
            script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
#fb-root
script(async='' defer='' crossorigin='anonymous' src='https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v9.0&appId=2121529361321976&autoLogAppEvents=1' nonce='8USgjNY9')
meta(name='google-signin-client_id' content='804910218147-rg2qm78gfi0e5o1ddj99cduk88m6s2gs.apps.googleusercontent.com')
// Portfolio Modals
// Portfolio Modal 1
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal1Label' aria-hidden='true')
  .modal-dialog.modal-xl(role='document')
    .modal-content
      button.close(type='button' data-dismiss='modal' aria-label='Close')
        span(aria-hidden='true')
          i.fas.fa-times

      .modal-body.text-center
        .container-modal
          .row.justify-content-center
            // Portfolio Modal - Title
            h2#portfolioModal1Label.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Red Dead Redemption II

            //bottone video
            button.btn.btn-danger.youtubebtn(onclick="youtubetrigger(1)")
              i.fas.fa-times.fa-fw
              |                                         Video del gioco

            // Icon Divider
            .divider-custom
              .divider-custom-line
              .divider-custom-line
              .divider-custom-line
            
            .col-lg-8
              // Portfolio Modal - Youtube
              iframe.youtubevideo(id="youtube1" width='420' height='315' src='https://www.youtube.com/embed/HVRzx17WHVk' style="display:none;")
              
              // Portfolio Modal - Image          
              img.img-fluid.rounded.mb-5.imglat(src='//images.igdb.com/igdb/image/upload/t_1080p/co1q1f.jpg' alt='' )

              // Portfolio Modal - Text
              .text-room
                h5        Data di uscita: 
                p         #{new Date(1540512000*1000)}
                p
                h5        Generi:
                p         Shooter, Role-playing (RPG), Adventure
                p
                h5         Piattaforme:
                p         PC (Microsoft Windows), PlayStation 4, Xbox One, Google Stadia
                h5         Descrizione:
                p.mb-5
                  |         Developed by the creators of Grand Theft Auto V and Red Dead Redemption,
                  |         Red Dead Redemption 2 is an epic tale of life in America’s unforgiving heartland.
                  |         The game's vast and atmospheric world will also provide the foundation for a brand new online multiplayer
                  |         experience.
              .leftcontainer
                a.twitter-timeline(href='https://twitter.com/RockstarRDR?ref_src=twsrc%5Etfw') Tweets by RockstarRDR
                  script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
            
            h5           Nessuna espansione
            
            a.twitter-share-button(href='https://twitter.com/intent/tweet?text=Hello%20world' data-size='large')
              | Tweet

            //bottone chiusura
            button.btn.btn-primary(data-dismiss='modal')
              i.fas.fa-times.fa-fw
              |                                         Chiudi Scheda
// Portfolio Modal 2
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal2Label' aria-hidden='true')
  .modal-dialog.modal-xl(role='document')
    .modal-content
      button.close(type='button' data-dismiss='modal' aria-label='Close')
        span(aria-hidden='true')
          i.fas.fa-times
      .modal-body.text-center
        .container-modal
          .row.justify-content-center
            // Portfolio Modal - Title
            h2#portfolioModal2Label.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Assassin's Creed Valhalla

            //bottone video
            button.btn.btn-danger.youtubebtn(onclick="youtubetrigger(2)")
              i.fas.fa-times.fa-fw
              |                                         Video del gioco

            // Icon Divider
            .divider-custom
              .divider-custom-line
              .divider-custom-line
              .divider-custom-line
            .col-lg-8
              // Portfolio Modal - Youtube
              iframe.youtubevideo(id="youtube2" width='420' height='315' src='https://www.youtube.com/embed/gncCKXqjtaE' style="display:none;")

              // Portfolio Modal - Image
              img.img-fluid.rounded.mb-5.imglat(src='//images.igdb.com/igdb/image/upload/t_1080p/co2ed3.jpg' alt='')
              // Portfolio Modal - Text
              .text-room
                h5        Data di uscita: 
                p         #{new Date(1604966400*1000)}
                p
                h5        Generi:
                p         Adventure
                p
                h5        Piattaforme:
                p         PC (Microsoft Windows), PlayStation 4, Xbox One, PlayStation 5, Xbox Series, Google Stadia
                h5        Descrizione:

                
                p.mb-5.desc
                  |                 In Assassin's Creed Valhalla, become Eivor, a legendary Viking raider on a quest for glory. Explore a dynamic and beautiful open world set against the brutal backdrop of England’s Dark Ages. Raid your enemies, grow your settlement, and build your political power in the quest to earn a place among the gods in Valhalla.
              .leftcontainer
                a.twitter-timeline(href='https://twitter.com/assassinscreed?ref_src=twsrc%5Etfw') Tweets by assassinscreed
                  script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
            h5           Nessuna espansione
            //bottone chiusura
            button.btn.btn-primary(data-dismiss='modal')
              i.fas.fa-times.fa-fw
              |                                         Chiudi Scheda
// Portfolio Modal 3
#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal3Label' aria-hidden='true')
  .modal-dialog.modal-xl(role='document')
    .modal-content
      button.close(type='button' data-dismiss='modal' aria-label='Close')
        span(aria-hidden='true')
          i.fas.fa-times
      .modal-body.text-center
        .container-modal
          .row.justify-content-center
            // Portfolio Modal - Title
            h2#portfolioModal3Label.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Watch Dogs Legion

            //bottone video
            button.btn.btn-danger.youtubebtn(onclick="youtubetrigger(3)")
              i.fas.fa-times.fa-fw
              |                                         Video del gioco

            // Icon Divider
            .divider-custom
              .divider-custom-line
              .divider-custom-line
              .divider-custom-line
            .col-lg-8
              // Portfolio Modal - Youtube
              iframe.youtubevideo(id="youtube3" width='420' height='315' src='https://www.youtube.com/embed/dReKm3qnlEU' style="display:none;")
              // Portfolio Modal - Image
              img.img-fluid.rounded.mb-5.imglat(src='//images.igdb.com/igdb/image/upload/t_1080p/co2oyq.jpg' alt='')
              .text-room
                h5        Data di uscita: 
                p         #{new Date(1604966400*1000)}
                p
                h5        Generi:
                p         Shooter, Adventure
                p
                h5        Piattaforme:
                p         PC (Microsoft Windows), PlayStation 4, Xbox One, PlayStation 5, Xbox Series, Google Stadia
                p
                h5        Descrizione:
                p.mb-5.desc
                  |       In Watch Dogs: Legion, near future London is facing its downfall...unless you do something about it. Build a resistance, fight back, and give the city back to the people. It’s time to rise up.
            
              .leftcontainer
                  a.twitter-timeline(href='https://twitter.com/watchdogsgame?ref_src=twsrc%5Etfw') Tweets by watchdogsgame
                    script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')

            h5.esptitl        Espansioni:
            .espansioni
              .img1
                img.img-fluid.rounded.mb-5(src='//images.igdb.com/igdb/image/upload/t_1080p/co2i0t.jpg' alt='')
                p Watch Dogs: Legion - Bloodline

            //bottone chiusura
            button.btn.btn-primary(data-dismiss='modal')
              i.fas.fa-times.fa-fw
              |                                         Chiudi Scheda

// Footer
footer.bg-white
  .container.py-5
    .row.py-4
      .col-lg-4.col-md-6.mb-4.mb-lg-0
        h6.text-uppercase.font-weight-bold.mb-4 Gamerverse
        p.font-italic.text-muted
          | Siamo un portale dedicato alla ricerca di videogiochi 
          | e alla creazione di una community online
        p.font-italic.text-muted
          | Sito realizzato da Marco Collalti, Lorenzo Lancia, Davide Massimei
          | per il progetto di Reti di Calcolatori
      .col-lg-2.col-md-6.mb-4.mb-lg-0
        h6.text-uppercase.font-weight-bold.mb-4 Menù
        ul.list-unstyled.mb-0
          li.mb-2
            a.text-muted(href='#') Homepage
          li.mb-2
            a.text-muted(href='/chat') Chat
      .col-lg-2.col-md-6.mb-4.mb-lg-0
        h6.text-uppercase.font-weight-bold.mb-4 Servizi
        ul.list-unstyled.mb-0
          li.mb-2 
            i.fas.fa-search
            a.text-muted  Ricerca
          li.mb-2 
            i.fas.fa-info-circle
            a.text-muted  Informazioni
          li.mb-2 
            i.fas.fa-puzzle-piece
            a.text-muted  Espansioni
          li.mb-2
            i.fas.fa-laptop
            a.text-muted  Piattaforme
      .col-lg-4.col-md-6.mb-lg-0
        h6.text-uppercase.font-weight-bold.mb-4 Newsletter
        p.text-muted.mb-4 Iscriviti alla newsletter per rimaner sempre aggiornato su Gamerverse.
        .p-1.rounded.border
          .input-group
            input.form-control.border-0.shadow-0(type='email' placeholder='Enter your email address' aria-describedby='button-addon1')
            .input-group-append
              button#button-addon1.btn.btn-link(type='submit')
                i.fa.fa-paper-plane
  // Copyrights
  .bg-secondary.py-2
    .container.text-center
      p.text-light.font-weight.mb-0.py-2 &copy; 2021 Gamerverse
