doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title GAMERVERSE
  // Script jquery iniziale
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  // Favicon
  link(rel='icon' type='image/x-icon' href='./images/header-icon.png')
  // Font Awesome icons (free version)
  script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js')
  // Google fonts
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css')
  
  // CSS BOOTSTRAP
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css')

  // Custom CSS
  link(href='./stylesheets/index.css' rel='stylesheet' type='text/css')
  link(href='./stylesheets/style.css' rel='stylesheet' type='text/css')
  link(href='./stylesheets/results.css' rel='stylesheet' type='text/css')

  // JavaScript Bundle with Popper BOOTSTRAP
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js')
  // Custom JS
  script(type='text/javascript' src='./javascripts/scripts.js')
  script(type='text/javascript' src='./javascripts/index.js')
  script(type='text/javascript' src='./javascripts/scripts.js')
  // Load the JS SDK asynchronously
  script(async='' defer='' crossorigin='anonymous' src='https://connect.facebook.net/en_US/sdk.js')
  // Load the Google Platform Library
  script(src='https://apis.google.com/js/platform.js' async='' defer='')
  // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')
  // Third party plugin JS
  //script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

  // Youtube JS
  
  script.
    function youtubetrigger(num){
      var tube = document.getElementById("youtube"+num);
      if(tube.style.display == "none" || tube.style.display == "null")
        tube.style.display = "block" ;
      else
        tube.style.display = "none" ;
        //var video = document.getElementsByClassNames("video-stream");
        //video.pause();
    }
    
// Navigation
nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
  .container
    img.img-head(src='./images/header-icon.png' alt='')
    a.navbar-brand.js-scroll-trigger(href='/') GAMERVERSE
    button.navbar-toggler.navbar-toggler-right.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      | Menu
      i.fas.fa-bars
    li.nav-item.dropdown
      a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        | Menù
      .dropdown-menu(aria-labelledby='navbarDropdown')
        a.dropdown-item(href='/auth/google')  Google 
        a.dropdown-item(href='/auth/twitter')  Twitter 
        .dropdown-divider
        a.dropdown-item(href='/signup') Registrati
        .dropdown-divider
        a.dropdown-item(href='/chat') Chat 
// Portfolio Section

//mixin per creare codice
mixin portfolioItem(immagineGioco,c)
  - var image = "//images.igdb.com/igdb/image/upload/t_1080p/" + immagineGioco + ".jpg";
  .col-md-6.col-lg-4.mb-5 
    .portfolio-item.mx-auto(data-toggle='modal' data-target= "#portfolioModal" + c)
      .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
        .portfolio-item-caption-content.text-center.text-white
          i.fas.fa-plus.fa-3x
      img.img-fluid(src= ""+image, alt='')

//Modal
mixin portfolioModal(gioco,d)
  - var portf = "portfolioModal" + d ;
  - var youtuber = "portfolioModal" + d ;
  - var image = "//images.igdb.com/igdb/image/upload/t_1080p/" + gioco.cover.image_id + ".jpg"; 
  - var linTweet = "https://twitter.com/"
  .portfolio-modal.modal.fade( id ="" + portf tabindex='-1' role='dialog'  aria-labelledby="" + portf + "label" aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
      .modal-content
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
            i.fas.fa-times
        .modal-body.text-center
          .container-modal
            .row.justify-content-center
              h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0(id = "" + portf + "label") #{gioco.name} 
              
              // Portfolio Modal - Title
              if(gioco.videos != null)
                  //bottone video
                  button.btn.btn-danger.youtubebtn(onclick="youtubetrigger("+d+")")
                    i.fas.fa-times.fa-fw
                    |                                         Video del gioco
                

              // Icon Divider
              .divider-custom
                .divider-custom-line
                .divider-custom-line
                .divider-custom-line

              .col-lg-8
                // Portfolio Modal - Image
                if(gioco.videos != null)
                  - var found = false;
                  each video in gioco.videos
                    if(video.name == "Trailer")
                      - found = true;
                      // Portfolio Modal - Youtube
                      iframe.youtubevideo(id="youtube"+d width='420' height='315' src='https://www.youtube.com/embed/'+video.video_id style="display:none;")
                  if(found==false)
                    //bottone video
                    iframe.youtubevideo(id="youtube"+d width='420' height='315' src='https://www.youtube.com/embed/'+gioco.videos[0].video_id style="display:none;")
                


                img.img-fluid.rounded.mb-5.imglat(src=''+ image alt='' id = "" + portf + "image" style="position: relative;")
                // Portfolio Modal - Text
                .text-room
                  h5        Data di uscita:
                  if gioco.first_release_date 
                    p         #{new Date(gioco.first_release_date*1000)}
                  else
                    p         Non disponibile o non ancora annunciata
                  p
                  h5        Generi:
                  if gioco.genres
                    - var genres = "";
                    - var c = 0;
                    each genre in gioco.genres
                      - if(c == gioco.genres.length -1){ genres += genre.name; }
                      - else{ genres += genre.name + ", "; c++; }
                    p       #{genres}
                  else
                    p         Nessuna classificazione
                  p
                  if gioco.platforms
                    h5        Piattaforme:
                    - var platforms = "";
                    - var d = 0;
                    each platform in gioco.platforms
                      - if(d == gioco.platforms.length -1){ platforms += platform.name; }
                      - else{ platforms += platform.name + ", "; d++; }
                    p.plat       #{platforms}
                  else
                    p           Non disponibile
                  h5        Descrizione:
                  p.mb-5.desc
                    |       #{gioco.summary}
                
                if(gioco.websites != null)
                  each website in gioco.websites
                    - if(website.category == 5)
                      - linTweet += website.url;
                      .leftcontainer
                        a.twitter-timeline(href=linTweet) "Tweets by" #{gioco.name}
                          script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
                  
              
              if gioco.dlcs
                h5.esptitl        Espansioni:
                .espansioni
                  each dlc in gioco.dlcs
                    .img1
                      if dlc.cover
                        - var image = "//images.igdb.com/igdb/image/upload/t_1080p/" + dlc.cover.image_id + ".jpg";
                      else
                        - var image = "//images.igdb.com/igdb/image/upload/t_1080p/" + gioco.cover.image_id + ".jpg";
                      img.img-fluid.rounded.mb-5(src=image  alt='')
                      p         #{dlc.name}
              else
                h5           Nessuna espansione

              //bottone chiusura
              button.btn.btn-primary(data-dismiss='modal')
                i.fas.fa-times.fa-fw
                |                                         Chiudi Scheda


// Portfolio Section
section#portfolio.page-section.portfolio
  .container
    .search-custom-bar
      form.p-2.rounded.shadow-sm.bg-white(action='/results' method='get')
        .input-group.cc_cursor
          input#games.form-control.border-0.mr-2(type='search' name='games' placeholder='Cerca un altro gioco: ')
          .input-group-append.rounded
            button.btn.btn-primary.rounded.cc_pointer(type='submit')
              i.fas.fa-search.cc_pointer
    //Titolo ricerca
    // Contact Section Heading
    h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Hai cercato #{giocoCercato}
    // Icon Divider
    .divider-custom
      .divider-custom-line
      .divider-custom-line
      .divider-custom-line
    // Portfolio Grid Items
    .row.justify-content-center
      // Portfolio Item i
      - var a = 0;
      each item in fileJson1
        +portfolioItem(item.cover.image_id,a)
        - a++

// Portfolio Modals
- var b = 0;
each item in fileJson1
  +portfolioModal(item,b)
  - b++


// Scroll to Top Button (Only visible on small and extra-small screen sizes)
.scroll-to-top.d-lg-none.position-fixed
  a.js-scroll-trigger.d-block.text-center.text-white.rounded(href='#page-top')
    i.fa.fa-chevron-up

// Footer
footer.bg-white
  .container.py-5
    .row.py-4
      .col-lg-4.col-md-6.mb-4.mb-lg-0
        h6.text-uppercase.font-weight-bold.mb-4 Gamerverse
        p.font-italic.text-muted
          | Siamo un portale dedicato alla ricerca di videogiochi 
          |  ed è disponibile una chat per gli altri utenti connessi
      .col-lg-2.col-md-6.mb-4.mb-lg-0
        h6.text-uppercase.font-weight-bold.mb-4 Menù
        ul.list-unstyled.mb-0
          li.mb-2
            a.text-muted(href='#') Homepage
          li.mb-2
            a.text-muted(href='signup') Registrati
          li.mb-2
            a.text-muted(href='/chat') Chat
      .col-lg-2.col-md-6.mb-4.mb-lg-0
        h6.text-uppercase.font-weight-bold.mb-4 Servizi
        ul.list-unstyled.mb-0
          li.mb-2 
            i.fas.fa-search
            a.text-muted  Ricerca
          li.mb-2 
            i.fas.fa-info-circle
            a.text-muted  Informazioni
          li.mb-2 
            i.fas.fa-puzzle-piece
            a.text-muted  Espansioni
          li.mb-2
            i.fas.fa-laptop
            a.text-muted  Piattaforme
      .col-lg-4.col-md-6.mb-lg-0
        h6.text-uppercase.font-weight-bold.mb-4 Newsletter
        p.text-muted.mb-4 Iscriviti alla newsletter per rimaner sempre aggiornato su Gamerverse.
        .p-1.rounded.border
          .input-group
            input.form-control.border-0.shadow-0(type='email' placeholder='Enter your email address' aria-describedby='button-addon1')
            .input-group-append
              button#button-addon1.btn.btn-link(type='submit')
                i.fa.fa-paper-plane
  // Copyrights
  .bg-secondary.py-2
    .container.text-center
      p.text-light.font-weight.mb-0.py-2 &copy; 2021 Gamerverse